main{
    padding: 0px;
    overflow: hidden;
    font-family: "Kanit", serif;
    background-color: black;
}

#aboutCeria{
    background-image: url('/assets/homebackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carouseltitle{
    color: white;
    display: flex;
    justify-content: center;
}

#ceriaText h1{
    font-size: 100px;
    font-weight: bold;
    color: white;
}

#ceriaText p{
    color: white;
    font-size: 22px;
}

#problems{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.problemCard{
    background-color: white;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    text-align: center;
    padding: 0 10px;
}

.problemCard:hover{
    transform: scale(1.04);
    transition: .1s ease-in;
    border: 3px solid black;
    cursor: pointer;
}

#news{
    padding: 0 30px;
}

#news a{
    text-decoration: none;
    color: black;
}

.newsContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border: 1px solid black;
}
.newsContainer:hover{
    transform: scale(1.02);
    transition: .1s ease-in;
    border: 2px solid orange;
}

.newsContainerLeft{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.newsImages{
    width: 200px;
}
