main{
    padding: 10px;
}

#problems{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.problemCard{
    background-color: aquamarine;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    text-align: center;
    padding: 0 10px;
}

.problemCard:hover{
    transform: scale(1.04);
    transition: .1s ease-in;
    border: 3px solid black;
    cursor: pointer;
}
